.Pokedex {
    
}

.Pokedex-h1 {
    margin: 4% 0;
    text-align: center;
    font-size: 5em;
    color: orange;
}

.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}