.App {
	font-family: 'Open Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background: linear-gradient(
		140deg,
		rgb(21, 235, 164) 0%,
		rgb(21, 235, 164) 49%,
		rgb(235, 21, 92) 50%,
		rgb(235, 21, 92) 100%
	);
}
